#h2 {
    color: #fcba03;
    font-style:italic;
    font-size: 40px;
    font-family: "Comic Sans MS"
}

.UEone {
  color: black;
  font-size: 40px;
  font-family: "Yatra One";
}

.UEtwo {
    color: black;
    font-size:40px;
    font-family:"Academy Engraved LET";
}

.UEtree {
    color: black;
    font-size:40px;
    font-family:"Apple Chancery";
}

#gallery{
    margin:10px 40px 100px 40px;
    padding: 0px;
}
#ueberschrift{
    margin:40px 20px 10px 40px;
    padding:0px;
}
    